.container{
    border: 1px solid #6B7D6;
    border-radius: 10px 0px 0px 10px;
    background: blue;
    padding-top: 50px;
    text-align: center;
    min-height: 300px;
    
}
h1{
    margin-top: 40px;
    margin-bottom:60px;
}
.box{
    background-color: red;
    width: 10rem;
    border-radius: 2px;
    padding: 4px;
    font-size: 17px;
    font-weight: 18px;
    font-family: 
}